# core
ENV=XXX
DEBUG=TF
# db
DB_CONNECTION=XXX
DB_HOST=XXX
DB_PORT=000
DB_NAME=XXX
DB_USER=XXX
DB_PASSWORD=XXX
DB_ROOT_PASSWORD=XXX
# cache
CACHE_CONNECTION=XXX
CACHE_HOST=XXX
CACHE_PORT=000
CACHE_USER=XXX
CACHE_PASSWORD=XXX
# llm
LLM_BASE_URL=XXX